[Desktop Entry]
Version=1.0
Type=Application
Name=PhpStorm URL Handler
Comment=Handle URL Scheme phpstorm://open?url=file://@file&line=@line
Icon=phpstorm
NoDisplay=true
Categories=TextEditor;Utility;
Exec=phpstorm-url-handler %u
Terminal=false
MimeType=x-scheme-handler/phpstorm;
X-Desktop-File-Install-Version=0.21
